/* Appliquer une couleur de fond sombre élégante */

/*.root {
    -fx-background-image: url("../images/home_page/echiquier.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-font-family: "Segoe UI", "Roboto", sans-serif;
}*/

.root {
    -fx-background-color: #1e1e1e;
    -fx-padding: 20;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: white;

}



/* Titre principal */
.label.title {
    -fx-font-size: 36px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 20 0 40 0;
    -fx-alignment: center;
}

/* Boutons de menu (play, settings, quit...) */
.button {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: #3a3a3a;
    -fx-background-radius: 8;
    -fx-padding: 10 30;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 5, 0.5, 0, 1);
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-background-color: #5c5c5c;
}

.button:pressed {
    -fx-background-color: #2a2a2a;
}

/* Centrage des éléments */
.center-box {
    -fx-alignment: center;
    -fx-spacing: 20;
}
